%h1 Welcome to high 5!
-if current_user
  %ul
    -current_user.friends(current_token).each do |status|
      -status["statuses"]["data"].each do |m|
        %li
          %h4=m["from"]["name"]
          =m["message"]

